*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/*
.idea
.DS_Store
/build
/captures
app/src/main/mapjourney/node_modules/*
app/src/main/mapjourney/dist
app/src/main/mapjourney/dist/*
