html, body, #app{
    height: 100%;
}

.map {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0;
}

.overlay-container {
    width: 70%;
    height: 70px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -35%;

    .Select-control {
        width: 100%;
        margin: 0 auto;
        background: #3684CE;
        height: 50px;
        border-radius: 25px;

        input{
            padding: 8px 0 8px 12px;
            height: 100%;
            line-height: 50px;
            font-size: 20pt;
        }
        .Select-placeholder, .Select-value-label {
            margin-left: 12px;
            height: 100%;
            line-height: 50px;
            font-size: 10pt;
        }
    }
}

.control-panel {
    width: 10%;
    height: 50%;
    position: absolute;

    background: '#3684CE';
}