html, body, #app {
  height: 100%;
}

.map {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0;

  &.lights-off {
    .leaflet-tile {
      -webkit-filter: brightness(50%);
    }
  }
}

.leaflet-control-attribution {
  display: none;
}

.overlay-container {
  width: 70%;
  height: 52px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -35%;

  .Select-control {
    width: 100%;
    margin: 0 auto;
    background: #3684CE;
    height: 50px;
    border-radius: 25px;

    input {
      padding: 8px 0 8px 12px;
      height: 100%;
      line-height: 50px;
      font-size: 20pt;
    }
    .Select-placeholder, .Select-value-label {
      margin-left: 12px;
      height: 100%;
      line-height: 50px;
      font-size: 10pt;
      color: darkblue !important;
    }
  }
}

.control-panel {
  right: 10px;
  top: 50%;
  margin-top: -40%;
  width: 50px;
  height: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;

  a {
    width: 80%;
    height: 80%;
    background: #3684CE;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
  }

  .order-button-normal {
    background: url('../../../public/icons/Group 2.png') no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }

  .order-button-active {
    background: url('../../../public/icons/Group 3.png') no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }

  .vendor-button-normal {
    background: url('../../../public/icons/Group 8.png') no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }

  .vendor-button-active {
    background: url('../../../public/icons/Group 9.png') no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }

  .model-button-normal {
    background: url('../../../public/icons/Group 4.png') no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }

  .model-button-active {
    background: url('../../../public/icons/Group 5.png') no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }

}

.light-toggle {
  width: 40px;
  height: 40px;
  background: url('../../../public/icons/light_on.png') no-repeat;
  background-size: contain;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 20px;

}

.home-page {
  height: 100%;
  width: 100%;

  .home-page-title {
    width: 100%;
    background-color: #3684ce;
    height: 40px;
    top: 0;
    position: fixed;

    .login-icon {
      background: url('../../../public/icons/icn_user.png') no-repeat;
      background-size: contain;
      margin-top: 5px;
      height: 80%;
      width: 10%;
      float: left;
    }

    .title-text {
      line-height: 40px;
      text-align: center;
      width: 80%;
      float: left;
    }

    .search-icon {
      background: url('../../../public/icons/icon_search.png') no-repeat;
      background-size: contain;
      margin-top: 5px;
      height: 80%;
      width: 10%;
      float: left;
    }
  }

  .home-footer {
    width: 100%;
    height: 40px;
    background-color: #3684ce;
    bottom: 0;
    position: fixed;

    .map-button, .statistics-button {
      width: 50%;
      text-align: center;
      float: left;
      line-height: 40px;
    }
  }

  .countries-area {
    background-size: contain;
    width: 100%;
    height: 100%;
    padding-top: 50px;

    .country-area {
      width: 80%;
      height: 20%;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 5%;
      padding-bottom: 5%;
      background: url('../../../public/icons/background.png') no-repeat;
    }
  }

}
