
.home-page {
  height: 100%;
  width: 100%;

  .home-page-title {
    width: 100%;
    background-color: #3684ce;
    height: 40px;
    top: 0;
    position: fixed;

    .login-icon {
      background: url('../../../public/icons/icn_user.png') no-repeat;
      background-size: contain;
      margin-top: 5px;
      height: 80%;
      width: 10%;
      float: left;
    }

    .title-text {
      line-height: 40px;
      text-align: center;
      width: 80%;
      float: left;
    }

    .search-icon {
      background: url('../../../public/icons/icon_search.png') no-repeat;
      background-size: contain;
      margin-top: 5px;
      height: 80%;
      width: 10%;
      float: left;
    }
  }

  .home-footer {
    width: 100%;
    height: 40px;
    background-color: #3684ce;
    bottom: 0;
    position: fixed;

    .map-button, .statistics-button {
      width: 50%;
      text-align: center;
      float: left;
      line-height: 40px;
    }
  }

  .countries-area {
    background-size: contain;
    width: 100%;
    height: 100%;
    padding-top: 50px;

    .countries-container{
      width: 100%;
      height: 200px;
    }

    .country-area {
      width: 100%;
      height: 200px;
      float: left;
      //padding-left: 10%;
      //padding-right: 10%;
      //padding-top: 5%;
      //padding-bottom: 5%;
      background-size: contain;
      background: url('../../../public/icons/background.png') no-repeat;
    }

    .country-info {
      width: 70%;
      height: 100px;
      line-height: 80px;
      top: -150px;
      text-align: center;
      position: relative;
      font-size: xx-large;
      color: red;
      font-style: italic;
    }

  }

}
